
@define-mixin padded {
    /* artificially increase specificity */
    & > :first-child:first-child:first-child:first-child { margin-block-start: 0; }
	& > :last-child:last-child:last-child:last-child     { margin-block-end:   0; }
}

@define-mixin box {
    display: block;
    margin: var(--gap) 0;
    padding: var(--gap);
    
    border-radius: calc(var(--rhythm) / 4);
    background: var(--colorful-bg);
    border: 1px solid var(--accent);
    
    @mixin padded;
}

.box {
    @mixin box;
}
