
.info {
    --box-bg: var(--info-bg);
    --accent: var(--info-fg);
    --faded-fg: var(--info-faded-fg);
}

.ok {
    --box-bg: var(--ok-bg);
    --accent: var(--ok-fg);
    --faded-fg: var(--ok-faded-fg);
}

.warn {
    --box-bg: var(--warn-bg);
    --accent: var(--warn-fg);
    --faded-fg: var(--warn-faded-fg);
}

.bad {
    --box-bg: var(--bad-bg);
    --accent: var(--bad-fg);
    --faded-fg: var(--bad-faded-fg);
}

.color {
	color: var(--accent);
}

.bg {
	background: var(--box-bg);
}

.border {
    border-style: solid;
	border-color: var(--faded-fg);
}
