
.info {
    --bg-2: var(--info-bg);
    --accent: var(--info-fg);
}

.ok {
    --bg-2: var(--ok-bg);
    --accent: var(--ok-fg);
}

.warn {
    --bg-2: var(--warn-bg);
    --accent: var(--warn-fg);
}

.bad {
    --bg-2: var(--bad-bg);
    --accent: var(--bad-fg);
}

.color {
	color: var(--accent);
}

.bg {
	background: var(--bg-2);
}

.border {
	border: var(--accent);
}
