
.info {
    --colorful-bg: var(--info-bg);
    --accent: var(--info-fg);
}

.ok {
    --colorful-bg: var(--ok-bg);
    --accent: var(--ok-fg);
}

.warn {
    --colorful-bg: var(--warn-bg);
    --accent: var(--warn-fg);
}

.bad {
    --colorful-bg: var(--bad-bg);
    --accent: var(--bad-fg);
}

.color {
	color: var(--accent);
}

.bg {
	background: var(--colorful-bg);
}

.border {
    border-style: solid;
	border-color: var(--accent);
}
