.textcolumns {
    --col-width: 30ch;
    column-width: var(--col-width);
    column-gap: var(--gap);
    margin-block: var(--gap);

    & :first-child { margin-block-start: 0 !important }
}

.text-align\:center {
    text-align: center;
}

/**/

.container {
	max-inline-size: var(--eff-line-length);
	margin-inline: auto;
}

.fullbleed {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);

    border-radius: 0;
    border-inline: none;
}

/**/

@define-mixin padded {
    /* artificially increase specificity */
    /* TODO: come up with a better way to do this */
    & > :first-child:first-child:first-child:first-child,
    & > :first-child>:first-child:first-child:first-child,
    & > :first-child>:first-child>:first-child:first-child,
    & > :first-child>:first-child>:first-child>:first-child { margin-block-start: 0; }
	& > :last-child:last-child:last-child:last-child,
	& > :last-child>:last-child:last-child:last-child,
	& > :last-child>:last-child>:last-child:last-child,
	& > :last-child>:last-child>:last-child>:last-child     { margin-block-end:   0; }
}

.padding { padding-inline: var(--gap); @mixin padded; }
.padding-block { padding-block: var(--gap); @mixin padded; }
.padding-inline { padding-inline: var(--gap) }

.margin { margin: var(--gap) }
.margin-block  { margin-block:  var(--gap) }
.margin-inline { margin-inline: var(--gap) }

/**/

.inline { display: inline }
.block { display: block }
.contents { display: contents }

.table {
    display: table;
    width: 100%;
    margin: 0;
}

.row, .rows > * {
    display: table-row;
    
    &:not(:last-child) > * {
        margin-bottom: var(--gap);
    }

    & > *:not([specificity-hack]) {
        display: table-cell;
        vertical-align: top;
    }

    & > * + *:not([specificity-hack]) {
        margin-inline-start: var(--gap);
        display: inline-block;
    }
}

/**/

.fixed  { position: fixed  }
.sticky { position: sticky }

.top    { top:    0 }
.right  { right:  0 }
.bottom { bottom: 0 }
.left   { left:   0 }

.float\:left  { float: left  }
.float\:right { float: right }

.overflow\:auto { overflow: auto }
.overflow\:scroll { overflow: scroll }
