
.basicgrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: start;
    gap: var(--gap);
    --col-width: 15ch;

    & > * {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: var(--col-width);
        margin: 0;
        min-width: 1px;
    }
}

.colwidth-l { --col-width: 35ch }
.colwidth-m { --col-width: 24ch }
.colwidth-s { --col-width: 15ch }

.minwidth-l { min-width: 35ch }
.minwidth-m { min-width: 24ch }
.minwidth-s { min-width: 15ch }

.maxwidth-l { max-width: 35ch }
.maxwidth-m { max-width: 24ch }
.maxwidth-s { max-width: 15ch }

.col-0  { flex-grow: 0 ; }
.col-1  { flex-grow: 1 ; flex-basis: calc(1  * var(--col-width)) }
.col-2  { flex-grow: 2 ; flex-basis: calc(2  * var(--col-width)) }
.col-3  { flex-grow: 3 ; flex-basis: calc(3  * var(--col-width)) }
.col-4  { flex-grow: 4 ; flex-basis: calc(4  * var(--col-width)) }
.col-5  { flex-grow: 5 ; flex-basis: calc(5  * var(--col-width)) }
.col-6  { flex-grow: 6 ; flex-basis: calc(6  * var(--col-width)) }
.col-7  { flex-grow: 7 ; flex-basis: calc(7  * var(--col-width)) }
.col-8  { flex-grow: 8 ; flex-basis: calc(8  * var(--col-width)) }
.col-9  { flex-grow: 9 ; flex-basis: calc(9  * var(--col-width)) }
.col-10 { flex-grow: 10; flex-basis: calc(10 * var(--col-width)) }
.col-11 { flex-grow: 11; flex-basis: calc(11 * var(--col-width)) }
.col-12 { flex-grow: 12; flex-basis: calc(12 * var(--col-width)) }

.col-inf { flex-grow: 1000000 }

/**/

.textcolumns {
    --col-width: 30ch;
    column-width: var(--col-width);
    column-gap: var(--gap);
    margin-block: var(--gap);

    & :first-child { margin-block-start: 0 !important }
}

.textcenter {
    text-align: center;
}

/**/

.container {
	max-inline-size: var(--eff-line-length);
	margin-inline: auto;
}

.fullbleed {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);

    border-radius: 0;
    border-inline: none;
}

/**/

.pad {
    padding-inline: var(--gap);
}

.margin {
    margin: var(--gap);
}

/**/

.table {
    display: table;
    width: 100%;
    margin: 0;
}

.row, .rows > * {
    display: table-row;
    
    &:not(:last-child)::after {
        content: '';
        display: block;
        height: var(--gap);
        width: 0;
    }

    & > *:not([specificity-hack]) {
        display: table-cell;
        vertical-align: top;
    }

    & > * + *:not([specificity-hack]) {
        margin-inline-start: var(--gap);
        display: inline-block;
    }
}

/**/

.fixed  { position: fixed  }
.sticky { position: sticky }

.top    { top:    0 }
.right  { right:  0 }
.bottom { bottom: 0 }
.left   { left:   0 }

.\^ { top:    0 }
.\> { right:  0 }
.\_ { bottom: 0 }
.\< { left:   0 }

.float\< { float: left  }
.float\> { float: right }
