
.table {
    display: table;
    width: 100%;
    margin: 0;
}

.row, .rows > * {
    display: table-row;
    
    &:not(:last-child)::after {
        content: '';
        display: block;
        height: var(--gap);
        width: 0;
    }

    & > *:not([specificity-hack]) {
        display: table-cell;
        vertical-align: top;
    }

    & > * + *:not([specificity-hack]) {
        margin-inline-start: var(--gap);
        display: inline-block;
    }
}
