
.table {
    display: table;
    width: 100%;
    border-spacing: 0 var(--gap);
    margin: 0;
}

.row, .rows > * {
    display: table-row;
    & > *:not([specificity-hack]) {
        display: table-cell;
        vertical-align: top;
    }

    & > * + *:not([specificity-hack]) {
        margin-inline-start: var(--gap);
        display: inline-block;
    }
}
