---
nav: {
	pages: {
		"Home": /,
		"Demo": /demos/,
	},
	external: {
		"GitHub": "https://github.com/bigskysoftware/missing",
		"Discord": "https://htmx.org/discord",
	},
}
---

<!doctype html>
<html lang="{{ lang | d(en) }}">
<head>
	<meta charset="utf=8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/missing.css">
</head>
<body>
	<header>
		<nav aria-label="site">
			<ul role="list">
			{% for name, href in nav.pages %}
				<li><a
					href="{{ href }}"
					{{ 'aria-current="page"' if href == page.url }}
					>{{ name }}</a>
			{% endfor %}
		</nav>
		<nav aria-label="external links">
			<ul role="list">
			{% for name, href in nav.external %}
				<li><a
					rel="noopener noreferrer nofollow"
					href="{{ href }}"
					>{{ name }}</a>
			{% endfor %}
			</ul>
		</nav>
	</header>

	{{ content | safe }}

	<footer>
		<fieldset><legend>Font</legend>
			<radio-buttons>
				<input type="radio" name="font" id="font-system-ui" checked>
				<label for="font-system-ui">system-ui</label>

				<input type="radio" name="font" id="font-fira-sans">
				<label for="font-fira-sans">Fira Sans</label>

				<input type="radio" name="font" id="font-source-serif">
				<label for="font-source-serif">Source Serif</label>
			</radio-buttons>
		</fieldset>
	</footer>
</body>

