
%button-like {
	padding: calc(var(--rhythm) / 4) calc(var(--rhythm) / 2);
	margin: calc(var(--rhythm) / 4) 0;

	font-size: 1rem;
	font-family: var(--main-font);
	line-height: var(--rhythm);

	background: var(--bg-3);
	border: 1px solid var(--accent);
	box-shadow: 0 .1em var(--accent);
	border-radius: .2em;
}

%targeted-button {
	background: var(--bg-2);
	outline: 1px solid var(--accent);
}

%active-button {
	outline: 1px solid var(--accent);
	box-shadow: none;
	transform: translateY(.1em);
}

%pressed-button {
	@extend %active-button;
	background: var(--accent);
	color: var(--bg);
}
