
%button-like {
	display: inline-block;
	padding: calc(var(--rhythm) / 4) calc(var(--rhythm) / 2);

	font-size: 1rem;
	font-family: var(--main-font);
	line-height: var(--rhythm);

	background: var(--bg-3);
	border: 1px solid var(--accent);
	box-shadow: 0 .1em var(--accent);
	border-radius: .2em;
	transform: translateY(-.1em);
}

%targeted-button {
	background: var(--bg-2);
	outline: 1px solid var(--accent);
}

%active-button {
	outline: 1px solid var(--accent);
	box-shadow: none;
	transform: none;
}

%pressed-button {
	box-shadow: 0 .05em var(--accent);
	transform: translateY(-.05em);
	background: var(--bg-4);
}
