
%card {
	display: block;
	border: 1px solid transparent;
	margin: var(--gap) 0;
	padding: 0 var(--gap);

	border-radius: calc(var(--rhythm) / 4);

	flex: 1 0 30ch;

	background: var(--bg-2);
	border: 1px solid var(--accent);
	
	& & {
		background: var(--bg-3);
	}
}

