
%textbox {
	display: block;

	padding: .05em calc(var(--rhythm) / 2);
	width: 100%;

	font-size: 1rem;
	line-height: inherit;
	font-family: var(--main-font);

	background: var(--bg);
	border: 1px solid var(--faded-fg);
	border-radius: .2em;

	&:focus-visible {
		border: 1px solid var(--accent);
	}

	&::placeholder {
		color: var(--muted-fg);
		opacity: 1;
		text-align: end;
	}
}

