
@custom-selector :--list ul, ol, dl;

p {
	margin-block: var(--l-rhythm);
}

blockquote {
	font-size: 1.1em;
	line-height: var(--l-rhythm);
	font-style: italic;
	color: var(--c-text-muted);

	& :--italic {
		font-style: normal;
	}

	& > footer {
		text-align: right;
		text-align: end;
	}
}

ul {
	list-style: square;
	margin-left: calc(2 * var(--l-rhythm));
}

:where(:--list[role="list"]) {
	padding-left: 0;
	list-style: none;
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	margin-block-start: calc(var(--l-headings-height) - 1em);
	margin-block-end: var(--l-rhythm);
}

h1 {
	font-weight: normal;

	font-size: 3.375em;
	--l-headings-height: calc(4 * var(--l-rhythm));
}

h2 {
	font-size: 2.25em;
	--l-headings-height: calc(3 * var(--l-rhythm));
}

h3 {
	font-size: 1.5em;
	--l-headings-height: calc(2 * var(--l-rhythm));
}

h4, h5, h6 {
	font-size: 1em;
	--l-headings-height: calc(1 * var(--l-rhythm));
}

h5 {
	font-variant: small-caps;
}

h6 {
	font-weight: normal;
	font-style: italic;
}


