/***
 4.8 Embedded content
 https://html.spec.whatwg.org/multipage/embedded-content.html
 ***/

img, video, audio, iframe, object, embed {
	max-inline-size: 100%;
	inline-size: max-content;
	block-size: auto;
}

iframe, object, embed {
	aspect-ratio: 16 / 9;

	border: none;
	background: white;
	box-shadow: 0 .1em .2em var(--shadow) inset;
}

