/***
 4.10 Forms
 https://html.spec.whatwg.org/multipage/forms.html
 ***/

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="color"],
input::file-selector-button {
	display: inline-block;
	padding: 0 calc(var(--rhythm) / 4);

	font-size: .9rem;
	line-height: 1rem;
	font-family: var(--main-font);
	min-height: var(--rhythm);

	background: var(--bg-3);
	border: 1px solid var(--accent);
	border-block-end-width: 3px;
	box-sizing: border-box;
	border-radius: .2em;

	&:hover, &:focus-visible {
		background: var(--bg-2);
	}

	&:active {
		border-block-end-width: 1px;
		margin-top: 2px;
		min-height: calc(var(--rhythm) - 2px);
	}
	
	&[aria-pressed="true"], &[aria-expanded="true"] {
		box-shadow: 0 .05em var(--accent);
		transform: translateY(.05em);
		background: var(--bg-4);
	}
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
select,
textarea {
	padding: .05em calc(var(--rhythm) / 2);
	
	font-size: 1rem;
	line-height: inherit;
	font-family: var(--main-font);

	background: var(--bg);
	border: 1px solid var(--faded-fg);
	border-radius: .2em;

	vertical-align: top;

	&:focus-visible {
		border: 1px solid var(--accent);
	}

	&::placeholder {
		color: var(--muted-fg);
		opacity: 1;
		text-align: end;
	}
}

input[type="range"] {
	width: 100%;
}

input[type="color"] {
	padding: 1px;
	margin: 0;
}

input[type="file"] {
	&::file-selector-button {
		margin-block: .1em 0;
		margin-inline-end: 1ch;
	}
}

select[multiple] {
	vertical-align: top;
}

optgroup::before {
	color: var(--muted-fg);
	font-style: normal;
}

progress {
	/* TODO */
}

meter {
	/* TODO */
}

label {
	display: block;
}

fieldset {
	position: relative;

    padding-inline: var(--gap);
	margin-inline: 0;
	width: 100%;
	border-radius: .2em;

}

[role=radiogroup] {
	padding: 0;
	border: none;
	margin-block: var(--gap);
}
