/***
 4.10 Forms
 https://html.spec.whatwg.org/multipage/forms.html
 ***/

button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="color"],
input::file-selector-button,
radio-buttons label {
	display: inline-block;
	padding: 0 calc(var(--rhythm) / 4);
	margin-block-end: .1em;

	font-size: 1rem;
	font-family: var(--main-font);
	line-height: var(--rhythm);

	background: var(--bg-3);
	border: 1px solid var(--accent);
	box-shadow: 0 .1em var(--accent);
	border-radius: .2em;

	&:hover, &:focus-visible {
		background: var(--bg-2);
	}

	&:active {
		box-shadow: none;
		transform: translateY(calc(.1em));
	}
	
	&[aria-pressed="true"], &[aria-expanded="true"] {
		box-shadow: 0 .05em var(--accent);
		transform: translateY(.05em);
		background: var(--bg-4);
	}
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
select,
textarea {
	padding: .05em calc(var(--rhythm) / 2);
	
	font-size: 1rem;
	line-height: inherit;
	font-family: var(--main-font);

	background: var(--bg);
	border: 1px solid var(--faded-fg);
	border-radius: .2em;

	vertical-align: top;

	&:focus-visible {
		border: 1px solid var(--accent);
	}

	&::placeholder {
		color: var(--muted-fg);
		opacity: 1;
		text-align: end;
	}
}

input[type="range"] {
	display: block;
	width: 100%;
}

input[type="color"] {
	padding: 1px;
	margin: 0;
}

input[type="file"] {
	&::file-selector-button {
		margin-block: .1em 0;
		margin-inline-end: 1ch;
	}
}

label[for] {
	display: block;

	& + * {
		display: block;
		width: 100%;
	}
}

select[multiple] {
	vertical-align: top;
}

optgroup::before {
	color: var(--muted-fg);
	font-style: normal;
}

progress {
	/* TODO */
}

meter {
	/* TODO */
}

fieldset {
	width: 100%;
	border-radius: .2em;
}
