
/***
 4.4 Grouping content
 https://html.spec.whatwg.org/multipage/grouping-content.html
 ***/

p {
	margin-block: var(--gap);
}

hr {
	color: inherit;
	block-size: 0;
}

pre {
	font-family: var(--mono-font);
	font-size: .9em;
	line-height: var(--rhythm);
	tab-size: 2;

	padding: calc(.5 * var(--rhythm));
	margin: var(--gap) 0;
	border-radius: .5em;

	overflow-x: auto;
	scrollbar-inline-size: thin;
	scrollbar-color: var(--accent) transparent;

	background: var(--bg);
	border: 1px solid var(--accent-muted);
}

blockquote {
	font-size: 1.1em;
	line-height: var(--rhythm);
	font-style: italic;
	color: var(--muted-fg);

	& :--italic {
		font-style: normal;
	}

	& footer {
		text-align: right;
		text-align: end;
	}
}

:--list {
	padding-inline-start: calc(1.5 * var(--rhythm));

	&[role="list"] {
		padding-inline-start: 0;
		list-style: none;
	}
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

:--list[role="list"] {
	padding-inline-start: 0;
	list-style: none;
}

dl {
}
	dt {
		font-weight: bold;
	}

	dd {
		margin-inline-start: calc(1.5 * var(--rhythm));
	}

figure {
}
	figcaption {
		color: var(--muted-fg);
		letter-spacing: .02em;
	}

main {
	max-inline-size: var(--eff-line-length);
	margin: auto;
}

