
/***
 4.4 Grouping content
 https://html.spec.whatwg.org/multipage/grouping-content.html
 ***/

:where(p) {
	margin-block: var(--gap);
}

:where(hr) {
	color: inherit;
	block-size: 0;
}

:where(pre) {
	font-family: var(--mono-font);
	font-size: .9em;
	line-height: var(--rhythm);
	tab-size: 2;

	padding: calc(.5 * var(--rhythm));
	margin: var(--gap) 0;
	border-radius: .5em;

	overflow-x: auto;
	scrollbar-inline-size: thin;
	scrollbar-color: var(--accent) transparent;

	background: var(--bg);
	border: 1px solid var(--accent-muted);
}

:where(blockquote) {
	font-size: 1.1em;
	line-height: var(--rhythm);
	font-style: italic;
	color: var(--muted-fg);

	& :where(:--italic) {
		font-style: normal;
	}

	& :where(footer) {
		text-align: right;
		text-align: end;
	}
}

:where(:--list) {
	padding-inline-start: calc(1.5 * var(--rhythm));

	&:where([role="list"]) {
		padding-inline-start: 0;
		list-style: none;
	}
}

:where(ul) {
	list-style: square;
}

:where(ol) {
	list-style: decimal;
}

:where(:--list[role="list"]) {
	padding-inline-start: 0;
	list-style: none;
}

:where(dl) {
}
	:where(dt) {
		font-weight: bold;
	}

	:where(dd) {
		margin-inline-start: calc(1.5 * var(--rhythm));
	}

:where(figure) {
	display: flow-root;
}
	:where(figcaption) {
		color: var(--muted-fg);
		letter-spacing: .02em;
	}

:where(main) {
	max-inline-size: var(--eff-line-length);
	margin: auto;
}

