/***
 4.5 Text-level semantics
 https://html.spec.whatwg.org/multipage/text-level-semantics.html

 4.7 Edits
 https://html.spec.whatwg.org/multipage/edits.html
 ***/

/* Text-level semantics */

:where(a) {
	color: var(--link-fg, var(--accent));

	@nest :where(.list-of-links &) {
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}

	&[href^="https://"], &[href^="//"] {
		/***
		 External link.
		 ***/
		&::after {
			content: '\2197';
			content: '\2197' / 'external';
		}
	}
}

:where(em) {
	/* TODO */
}

:where(strong) {
	/* TODO */
}

:where(small) {
	@nest span > &:only-child {
		/***
		 Sidenote
		 ***/
		display: block;
		float: right;

		max-width: 15ch;
		padding-inline: 1.5ch 1ch;

		margin-inline-end: max( /* the margin is negative so we use max not min */
			calc(0px - var(--gutter-width)),
			-15ch /* Go no further than my own width, stay close to text */
		);
		margin-block-end: var(--rhythm);
	}
}

:where(s) {
	/* TODO */
}

:where(cite) {
	/* TODO */
}

:where(q) {
	/* TODO */
}

:where(dfn) {
	/* TODO */
}

:where(abbr) {
	/* TODO */
}

:where(ruby) {
	/* TODO */

	& :where(rt) {
	}

	* :where(rp) {
	}
}

:where(time) {
	/* TODO */
}

:where(code) {
	/* TODO */
}

:where(var) {
	/* TODO */
}

:where(samp) {
	/* TODO */
}

:where(kbd) {
	/* TODO */
}
	:where(kbd kbd) {
		display: inline-block;

		padding: 0 .3em;
		font-size: .8em;
		line-height: 1.1em;

		background: var(--bg-3);
		border: 1px outset var(--faded-fg);
		border-block-end-width: 3px;
		border-radius: .3em;
	}

:where(sub) {
	/* TODO */
}

:where(sup) {
	/* TODO */
}

:where(i) {
	/* TODO */
}

:where(b) {
	&.lede {
		font-size: 1.2em;
		line-height: calc(1.2 * var(--rhythm));
		font-weight: normal;
	}
}

:where(u) {
	/* TODO */
}

:where(mark) {
	/* TODO */
}

/* Edits */

:where(ins) {
	/* TODO */
}

:where(del) {
	/* TODO */
}

