/***
 4.5 Text-level semantics
 https://html.spec.whatwg.org/multipage/text-level-semantics.html

 4.7 Edits
 https://html.spec.whatwg.org/multipage/edits.html
 ***/

/* Text-level semantics */

a {
	color: var(--c-link, var(--c-accent));

	&:hover {
		text-decoration: underline;
	}

	&[href^="https://"], &[href^="//"] {
		/***
		 External link.
		 ***/
		&::after {
			content: '\2197';
			content: '\2197' / 'external';
		}
	}
}

em {
	/* TODO */
}

strong {
	/* TODO */
}

small {
	/* TODO */
}

s {
	/* TODO */
}

cite {
	/* TODO */
}

q {
	/* TODO */
}

dfn {
	/* TODO */
}

abbr {
	/* TODO */
}

ruby {
	/* TODO */

	rt {
	}

	rp {
	}
}

time {
	/* TODO */
}

code {
	/* TODO */
}

var {
	/* TODO */
}

samp {
	/* TODO */
}

kbd {
	/* TODO */
}

sub {
	/* TODO */
}

sup {
	/* TODO */
}

i {
	/* TODO */
}

b {
	/* TODO */
}

u {
	/* TODO */
}

mark {
	/* TODO */
}

/* Edits */


