/***
 4.11 Interactive elements
 https://html.spec.whatwg.org/multipage/interactive-elements.html#interactive-elements
 ***/

details {
	@mixin box;
	padding-block-start: 0;
	&:not([open]) { padding-block-end: 0; }
}

summary {
	margin: calc(0px - var(--gap));
	margin-bottom: 0;
	padding-inline: inherit;

	font-weight: bold;

	background: var(--accent);
	color: var(--bg);

	cursor: pointer;

	&::marker {
		list-style: disc;
	}

	@nest details[open] & {
		border-block-end: 1px solid var(--accent);
	}
}

dialog {
}

