/***
 4.11 Interactive elements
 https://html.spec.whatwg.org/multipage/interactive-elements.html#interactive-elements
 ***/

:where(details) {
	@extend %card;
}

:where(summary) {
	margin-inline: calc(0px - var(--gap));
	padding: inherit;

	font-weight: bold;

	background: var(--accent);
	color: var(--bg);

	cursor: pointer;

	&::marker {
		list-style: disc;
	}

	@nest :where(details[open]) & {
		border-block-end: 1px solid var(--accent);
	}
}

:where(dialog) {
}

