/***
 4.11 Interactive elements
 https://html.spec.whatwg.org/multipage/interactive-elements.html#interactive-elements
 ***/

details {
    /* SEE components/box.css */

	padding-block-start: 0;
	&:not([open]) { padding-block-end: 0; }
}

summary {
	margin: calc(0px - var(--gap));
	margin-top: calc(0px - var(--gap));
	margin-bottom: 0;
	padding-inline: var(--gap);

	font-family: var(--secondary-font);
	font-weight: bold;

	background: var(--accent);
	color: var(--bg);

	cursor: pointer;

	&:focus-visible, &:active {
		filter: brightness(.8);
	}

	@nest details[open] & {
		border-block-end: 1px solid var(--accent);
		border-end-end-radius: 0;
		border-end-start-radius: 0;
	}
}


dialog {
    /* SEE components/box.css */
	
    position: absolute;
    inline-inset: 0;
    
	block-size: fit-content;
    inline-size: fit-content;
    
	margin: auto !important;

    background-color: var(--bg);
    color: var(--fg);
	border-color: var(--accent);
}

dialog[open]::backdrop {
	display: block;
	background: black;
	opacity: .4;
	animation: bg 2s;
}

@keyframes bg {
	from { background: transparent; }
}

dialog:not([open]) {
    display: none;
}
