
html {
	font-family: -apple-system, system-ui, sans-serif;
}

body > header {
	/***
	 A header directly at the start of the body is a navbar.
	 ***/

	position: sticky;
	inset-block-start: 0;
	inset-inline: 0;

	margin: 0;
	padding: 0 var(--l-rhythm);

	background: var(--c-bg-2);
	box-shadow:
		0 0 calc(.6 * var(--l-rhythm))
		var(--c-text-muted);

	/* Inner layout */
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	@nest :where(& nav ul) {
		display: flex;
		flex-flow: row wrap;
		gap: var(--l-rhythm);
	}

	@nest :where(& a) {
		text-decoration: none;
	}
}

main {
	max-width: min(calc(100vw - 2 * var(--l-rhythm)), 70ch);
	margin: auto;
}

