
html {
	font-family: -apple-system, system-ui, sans-serif;
	line-height: var(--l-rhythm);
}

body > header {
	/***
	 A header directly at the start of the body is a navbar.
	 ***/

	position: sticky;
	inset-block-start: 0;
	inset-inline: 0;
	z-index: 10;

	margin: 0;
	padding: 0 var(--l-rhythm);

	background: var(--c-bg-2);
	border-block-end: 1px solid var(--c-accent);
	box-shadow:
		0 calc(-.3 * var(--l-rhythm)) calc(1 * var(--l-rhythm))
		var(--c-text-muted);

	/* Inner layout */
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	& nav ul[role="list"] {
		display: flex;
		flex-flow: row wrap;
		gap: var(--l-rhythm);
	}

	& a {
		text-decoration: none;
	}
}

main {
	max-width: min(calc(100vw - 2 * var(--l-rhythm)), var(--l-line-length));
	margin: auto;
}

