
/***
 4.1 The document element
 https://html.spec.whatwg.org/multipage/semantics.html#the-root-element

 4.3 Sections
 https://html.spec.whatwg.org/multipage/sections.html
 ***/

html {
	font-family: var(--main-font);
	line-height: var(--rhythm);
	font-size: 120%;
}

body {
	margin: 0;
}

header, footer, section {
	margin-block: calc(2 * var(--gap));
}

nav {
	& a {
		text-decoration: none;
		color: var(--accent);
	}
}

aside {
	@mixin box;

	& :--heading {
		font-size: 1em;
		text-transform: none;
		letter-spacing: none;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

h1, h2, h3, h4, h5, h6 {
	margin-block-end: var(--gap);
	font-family: var(--display-font);
	font-size: 1em;
	margin-block-start: calc(2 * var(--gap));
}

h1, .h1 {
	font-size: 2em;
	text-transform: none;
	line-height: calc(2 * var(--rhythm));
	letter-spacing: 0;
}

h2, .h2 {
	font-size: 1.6em;
	text-transform: none;
	line-height: calc(1.5 * var(--rhythm));
	letter-spacing: 0;
}

h3, .h3 {
	font-size: 1.17em;
	text-transform: uppercase;
	line-height: calc(1 * var(--rhythm));
	letter-spacing: 0.02em;
}

h4, .h4, h5, .h5, h6, .h6 {
	font-size: 1em;
	text-transform: none;
	line-height: calc(1 * var(--rhythm));
	letter-spacing: 0;
	margin-block-start: var(--gap);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-block-start: var(--gap);
}

header {
	border-block-end: 1px solid var(--faded-fg);
}

footer {
	border-block-start: 1px solid var(--faded-fg);
}

body > header,
body > footer {
	padding: var(--rhythm) var(--gutter-width)
}

address {
	--density: 0;
}
