
/***
 4.1 The document element
 https://html.spec.whatwg.org/multipage/semantics.html#the-root-element

 4.3 Sections
 https://html.spec.whatwg.org/multipage/sections.html
 ***/

html {
	font-family: var(--f-main);
	line-height: var(--l-rhythm);
}

body {
	margin: 0;
}

article {
	/* TODO */
}

section {
	/* TODO */
}

nav {
	/* TODO */
}

aside {
	/* TODO */
}

:--heading {
	margin-block-end: var(--l-rhythm);
	font-family: var(--f-display);
}

	h1 {
		font-size: 2.5em;
		line-height: calc(2.5 * var(--l-rhythm));
		margin-block-start: calc(2.5 * var(--l-rhythm));
	}

	h2 {
		font-size: 2em;
		line-height: calc(2 * var(--l-rhythm));
		margin-block-start: calc(2 * var(--l-rhythm));
	}

	h3 {
		font-size: 1.5em;
		line-height: calc(1.5 * var(--l-rhythm));
		margin-block-start: calc(1.5 * var(--l-rhythm));
	}

	h4, h5, h6 {
		font-size: 1em;
	}

	h5 {
		font-variant: small-caps;
	}

	h6 {
		font-weight: normal;
		font-style: italic;
	}

header {
	@nest body > & {
		/***
		 A header directly at the start of the body is a navbar.
		 ***/

		position: sticky;
		inset-block-start: 0;
		inset-inline: 0;
		z-index: 10;

		margin: 0;
		padding: 0 var(--l-rhythm);

		background: var(--c-bg-2);
		border-block-end: 1px solid var(--c-accent);
		box-shadow:
			0 calc(-.3 * var(--l-rhythm)) calc(1 * var(--l-rhythm))
			var(--c-text-muted);

		/* Inner layout */
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		& nav ul[role="list"] {
			display: flex;
			flex-flow: row wrap;
			gap: var(--l-rhythm);
		}

		& a {
			text-decoration: none;
		}
	}
}

footer {
	/* TODO */
}

address {
	/* TODO */
}

