/***
 4.9 Tabular data
 https://html.spec.whatwg.org/multipage/tables.html
 ***/

:where(table) {
	font-variant-numeric: tabular-nums;
}

:where(caption) {
	text-align: start;
	font-style: italic;
}

:where(tbody) {
	border-block: 1px solid var(--fg);
}

:where(thead) {
}

:where(tfoot) {
}

:where(tr) {

}

:where(td, th) {
	&:not(:last-child) {
		padding-inline-end: var(--rhythm);
	}
}

	:where(td) {
	}

	:where(th) {
		text-align: start;
	}

