/***
 4.9 Tabular data
 https://html.spec.whatwg.org/multipage/tables.html
 ***/

table {
	font-variant-numeric: tabular-nums;
}

caption {
	text-align: start;
	font-style: italic;
}

tbody {
	border-block: 1px solid var(--text);
}

thead {
}

tfoot {
}

tr {

}

td, th {
	&:not(:last-child) {
		padding-inline-end: var(--rhythm);
	}
}

	td {
	}

	th {
		text-align: start;
	}

