.big-screen, big-screen, [big-screen] {
	/***
	 A tall, vertically centered block. Because it uses flex, it disrupts margin
	 collapsing. Use with an inner wrapper.
	 ***/
	min-block-size: min(60vh, 60vw);

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

