
.block-label, block-label, [block-label] {
	position: absolute;

	margin: 0;
	padding-inline: calc(.5 * var(--rhythm));
	
	transform: translate(
		calc(-1.1 * var(--rhythm)), calc(-1 * var(--rhythm))
	);

	@nest :is(missing-card, .missing-card) &:first-child {
		transform: translate(
			calc(-1.1 * var(--rhythm)), calc(-.5 * var(--rhythm))
		);
	}

	border-radius: calc(.25 * var(--rhythm));

	font-size: 1em;
	font-weight: bold;
	line-height: var(--rhythm);

	background: var(--accent);
	color: var(--bg);
}

