
.block-label, block-label, [block-label] {
	position: absolute;

	padding-inline: calc(.5 * var(--l-rhythm));
	transform: translate(
		calc(-1.2 * var(--l-rhythm)), calc(-1.4 * var(--l-rhythm))
	);

	border-radius: calc(.25 * var(--l-rhythm));

	background: var(--c-text);
	color: var(--c-bg);
}

