
.box,
/* defined elsewhere */
[role=menu],
.sidebar,
[role=tabpanel],
figure,
details,
dialog,
aside {
    margin: var(--gap) 0;
    padding: var(--gap);
    overflow: clip;
    
    border-radius: var(--border-radius);
    background: var(--box-bg);
    border: 1px solid var(--faded-fg);
}

.titlebar {
    margin-inline: calc(0px - var(--gap));
    margin-block-end: calc(0px - var(--gap));
    padding-inline: var(--gap);

    font: inherit;
	font-family: var(--secondary-font);
    font-weight: bold;

    translate: 0 calc(-1px - var(--gap));

    background: var(--accent);
    color: var(--bg);
}
