
@define-mixin padded {
    /* artificially increase specificity */
    /* TODO: come up with a better way to do this */
    & > :first-child:first-child:first-child:first-child,
    & > :first-child>:first-child:first-child:first-child,
    & > :first-child>:first-child>:first-child:first-child,
    & > :first-child>:first-child>:first-child>:first-child { margin-block-start: 0; }
	& > :last-child:last-child:last-child:last-child,
	& > :last-child>:last-child:last-child:last-child,
	& > :last-child>:last-child>:last-child:last-child,
	& > :last-child>:last-child>:last-child>:last-child     { margin-block-end:   0; }
}

@define-mixin titlebar {
    margin-inline: calc(0px - var(--gap));
    margin-block-end: calc(0px - var(--gap));
    padding-inline: var(--gap);

    font: inherit;
    font-weight: bold;

    translate: 0 calc(-1px - var(--gap));

    background: var(--accent);
    color: var(--bg);
}

@define-mixin box {
    margin: var(--gap) 0;
    padding: var(--gap);
    
    border-radius: calc(var(--rhythm) / 4);
    background: var(--colorful-bg);
    border: 1px solid var(--accent);
    
    @mixin padded;
}

.box, missing-card, .missing-card {
    @mixin box;
}

.titlebar {
    @mixin titlebar;
}
