
.breadcrumbs[aria-label] {
	font-family: var(--secondary-font);

    & ul, & ol {
        list-style: none;
        padding-inline-start: 0;
    }

    & li {
        display: inline;
        &+li::before {
            content: ' / ' / '';
            content: ' / ';
            display: inline;
        }
    }

    & [aria-current="page"] {
        font-weight: bold;
    }
}
