
.breadcrumbs[aria-label] {
    & ul, & ol {
        list-style: none;
        margin-inline-start: 0;
    }

    & li {
        display: inline;
        &:not(:first-child)::after {
            content: '/' / '';
        }
    }
}
