
.missing-card, missing-card, [missing-card] {
	@extend %card;

	&[data-label]::before {
		@extend %block-label;
		content: attr(data-label);

		position: absolute;

		transform: translate(
			calc(-1 * var(--rhythm)), calc(-.5 * var(--rhythm))
		);
	}
}

