/*********************************************************
 The Card Component

 TODO - document, link to all the layouts?
 Style: custom-tag, custom-attribute
 *********************************************************/

.missing-card, missing-card, [missing-card] {
	display: block;
	border: 1px solid transparent;
	margin: calc(2 * var(--l-rhythm)) 0;
	padding: 0 var(--l-rhythm);

	border-radius: calc(var(--l-rhythm) / 4);

  flex: 1 0 30ch;

	background: var(--c-bg-2);
  box-shadow:
		0 calc(.2 * var(--l-rhythm)) calc(.3 * var(--l-rhythm))
		var(--c-text-muted),
		0 calc(-.1 * var(--l-rhythm)) calc(.1 * var(--l-rhythm)) calc(-.1 * var(--l-rhythm))
		var(--c-text-muted),
		0 calc(0 * var(--l-rhythm)) calc(.1 * var(--l-rhythm))
		var(--c-text-muted);
}

