
:is(form-table, [is="form-table"]) {
	display: table;
	inline-size: 100%;
	margin-block: var(--gap);
	padding-block: calc(0 - var(--gap));

	& p {
		display: table-row;
	}

	& p, & fieldset {
		& > * {
			display: table-cell;
			vertical-align: baseline;
			margin: 0;
		}

		&:not(:first-child) > :is(label, legend) {
			border-block-start: calc(var(--rhythm) / 2) solid transparent;
		}
	}

}
