
.navbar, header[is="nav-bar"] {
	margin: 0;
	padding: 0 var(--rhythm);

	font-family: var(--secondary-font);

	background: var(--colorful-bg);
	border-block-end: 1px solid var(--accent);

	overflow-x: auto;
	scrollbar-width: thin;

	/* Inner layout */
	display: flex;
	flex-flow: row;
	gap: calc(2 * var(--rhythm));

	& :first-child { margin-inline-start: auto; }
	&  :last-child { margin-inline-end:   auto; }
	& * { flex-shrink: 0 }

	& nav ul[role="list"] {
		padding-inline-start: 0;
		display: flex;
		flex-flow: row;
		gap: var(--rhythm);

		& * { flex-shrink: 0 }
	}

	& a {
		font-weight: bold;
		text-decoration: none;
	}

	& a:hover, & a:focus {
		text-decoration: underline;
	}

	& [aria-current=page] {
		background: var(--accent);
		color: var(--colorful-bg);
		border-radius: .2em;
		outline: .2em solid var(--accent);
	}	
}
