
radio-buttons, [radio-buttons], .radio-buttons {
	@extend %button-like;

	display: inline-flex;
	flex-flow: row;
	width: max-content;
	padding: 0;

	& input[type="radio"] {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
	}

	& label {
		padding: calc(var(--rhythm) / 4) calc(var(--rhythm) / 2);

		&:not(:last-child) {
			border-inline-end: 1px solid var(--accent);
		}

		&:active {
			@extend %active-button;
		}
	}

	& input:checked + label {
		@extend %pressed-button;
	}

	& input:is(:focus-visible, :active) + label {
		@extend %active-button;
	}
}

