
.sidebar {
    /* SEE components/box.css */

	font-family: var(--secondary-font);
    
    border-block: none;
    border-inline-start: none;
    border-radius: 0;
    margin: 0;

    font-size: .8em;
    --rhythm: 1em;

    & li {
        padding: calc(.5 * var(--gap));
        margin-inline: calc(-.5 * var(--gap));
        border-radius: var(--border-radius);
    }

    & a {
        font-weight: bold;
        text-decoration: none;
    }
}