
[role="tablist"] {
    display: flex;
    gap: .5ch;
    scrollbar-width: thin;
}

[role="tab"][role="tab"] {
    all: initial;

    padding: 0 calc(var(--rhythm) / 4);
    margin: 0;
    min-height: var(--rhythm);

    border: solid var(--accent);
    border-width: 1px 1px 0 1px;
    border-block-end-color: transparent;
    background: var(--bg-3);

    border-start-start-radius: .4em;
    border-start-end-radius: .4em;

    &:focus {
        outline-bottom: none;
    }
    
    &:active, &[aria-selected="true"] {
        transform: none;
        bottom: -1px;
        position: relative;
        background: var(--bg-2);
        border-block-end: 1px solid var(--bg-2);
    }
}

[role="tabpanel"] {
    @mixin box;
    margin-block-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    z-index: 1;
}
