
[role="tablist"] {
    display: flex;
    gap: .5ch;
    overfiow-x: auto;
    scrollbar-width: thin;
}

[role="tab"] {
    all: initial;

    padding: 0 calc(var(--rhythm) / 4);
    margin: 0;
    min-height: var(--rhythm);

    border: 1px solid var(--faded-fg);
    background: var(--bg-3);

    transform: translateY(1px);

    border-start-start-radius: .4em;
    border-start-end-radius: .4em;

    &:focus {
        outline-bottom: none;
    }
    
    &:active {
        transform: translateY(.2em);
        clip-path: inset(0 0 calc(.2em - 1px) 0);
        border-block-end: 1px solid var(--bg);
    }
    
    &[aria-selected="true"] {
        background: var(--bg);
        border-block-end: 1px solid var(--bg);
    }
}

[role="tabpanel"] {
    @mixin box;
    margin-block-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
}
