
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>missing.css</title>

	<link rel="stylesheet" href="/dist/missing.css">
	<link rel="stylesheet" href="/dist/missing-prism.css">
	<link href="https://fonts.bunny.net/css?family=source-sans-3:400,700|m-plus-code-latin:400,700" rel="stylesheet" />

	<style>
		:root {
			--main-font: "Source Sans 3", -apple-system, system-ui, sans-serif;
		}
		dfn > code {
			font-style: normal;
			text-decoration: 1px dashed var(--muted-fg) underline;
		}
		code a {
			font-family: inherit;
		}
	</style>
</head>
<body>
	{{ content }}

	{{ if !it.hideFooter }}
		<footer>
			<p><a href="/">Missing.css</a>, by
			<a href="https://denizaksimsek.com">Deniz Akşimşek</a>,
			funded by
			<a href="https://bigsky.software">Big Sky Software</a> and
			<a href="https://commspace.co.za">Commspace</a>.

			<p>Also check out
			<a href="https://htmx.org">htmx</a>
			and
			<a href="https://hyperscript.org">_hyperscript</a>.

			<p>
			Made with 💙 in Ankara, Samsun, Rize and Cape Town.
		</footer>
	{{ /if }}
</body>
