/* stylelint-disable plugin/browser-compat */


*,
::before,
::after {
  box-sizing: border-box;
  font-kerning: normal;
}

:root {
  cursor: default;

  overflow-wrap: break-word;

  -webkit-tap-highlight-color: transparent;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

abbr[title] {
  text-decoration: underline dotted;
}

strong, b {
  font-weight: bolder;
}

a {
  text-decoration-skip-ink: auto;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
  max-width: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  block-size: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

:focus-visible {
  outline: .2em solid var(--accent);
  outline-offset: 0;
  z-index: 2;
}

iframe:focus-visible,
html:focus-visible,
body:focus-visible {
  outline: none;
}

:target {
  outline: .2em solid var(--fg);
  outline-offset: 0;
  z-index: 2;
  scroll-margin: 4rem;
}

datalist {
  display: none !important;
}
