
[role="tablist"] {
    display: flex;
    gap: .5ch;
    scrollbar-width: thin;
}

[role="tab"][role="tab"] {
    all: initial;

	font-family: var(--secondary-font);

    padding: 0 calc(var(--rhythm) / 4);
    margin: 0;
    min-height: var(--rhythm);

    border: solid var(--faded-fg);
    border-width: 1px 1px 0 1px;
    border-block-end-color: transparent;
    background: var(--interactive-bg);

    border-start-start-radius: .4em;
    border-start-end-radius: .4em;
    
    &:active, &[aria-selected="true"] {
        transform: none;
        bottom: -1px;
        position: relative;
        background: var(--box-bg);
        border-block-end: 1px solid var(--box-bg);
    }

    &:hover {
        background-color: var(--box-bg);
    }

    &:focus {
        background-color: var(--box-bg);
        border-color: var(--accent);
        outline: 1px solid var(--accent);
    }
}

[role="tabpanel"] {
    /* SEE components/box.css */

    margin-block-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    z-index: 1;
}

[role="menu"] {
    /* SEE components/box.css */
    position: absolute;
    
    padding: calc(var(--gap) / 2) 0;
    margin: 1px 0 0 0;

    display: flex;
    flex-flow: column nowrap;
}

[role=menuitem] {
    padding: 0 calc(var(--gap) / 2);

    display: block;

    text-decoration: none;

    color: var(--fg);

    &:focus {
        background: var(--accent);
        color: var(--bg);
    }
}
