
[role="tablist"] {
    display: flex;
    gap: .5ch;
    scrollbar-width: thin;
}

[role="tab"][role="tab"] {
    all: initial;

	font-family: var(--secondary-font);
    
    padding: 0 calc(var(--rhythm) / 4);
    margin: 0;
    min-height: var(--rhythm);
    bottom: -1px;
    position: relative;
    
    color: var(--fg);
    border: solid var(--graphical-fg);
    border-width: 1px;
    background: var(--interactive-bg);
    
    border-start-start-radius: .4em;
    border-start-end-radius: .4em;
    
    &:active, &[aria-selected="true"] {
        background: var(--box-bg);
        border-block-end: 1px solid transparent;
    }

    &:hover {
        background-color: var(--box-bg);
        box-shadow: none;
    }

    &:focus-visible {
        box-shadow: none;
        color: var(--accent);
        text-decoration: underline;
    }
}

[role="tabpanel"] {
    /* SEE components/box.css */

    margin-block-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    z-index: 1;
}

[role="menu"] {
    /* SEE components/box.css */
    position: absolute;

    z-index: 10;
    
    padding: calc(var(--gap) / 2) 0;
    margin: 1px 0 0 0;

    display: flex;
    flex-flow: column nowrap;
}

[role=menuitem] {
    padding: 0 calc(var(--gap) / 2);

    display: block;

    text-decoration: none;
    border-radius: 0;

    color: var(--fg);

    &:focus, &:active {
        background: var(--accent);
        color: var(--bg);
    }
}

[role=listbox] {
    list-style: none;

    [role=option] {
        margin-inline: calc(-1 * var(--gap));
        padding-inline: var(--gap);
        border-radius: 0;
    }

    [role=option][aria-selected=true] {
        background: var(--interactive-bg);
    }

    [role=option].active {
        --temporary-bg: var(--accent);
        --temporary-fg: var(--bg);
        --temporary-accent: parent-var(--muted-accent);
        --temporary-muted-accent: parent-var(--box-bg);

        background: var(--temporary-bg);
        color: var(--temporary-fg);
        
        > * {
            --bg: var(--temporary-bg);
            --fg: var(--temporary-fg);
            --accent: var(--temporary-accent);
            --muted-accent: var(--temporary-muted-accent);
        }
    }
}


[aria-orientation="vertical"] {
    flex-direction: column;
    width: fit-content;
    text-align: center;
}
