
.plain {
    --box-bg: var(--plain-bg);
    --accent: var(--plain-fg);
    --graphical-fg: var(--plain-graphical-fg);
}

.info {
    --box-bg: var(--info-bg);
    --accent: var(--info-fg);
    --graphical-fg: var(--info-graphical-fg);
}

.ok {
    --box-bg: var(--ok-bg);
    --accent: var(--ok-fg);
    --graphical-fg: var(--ok-graphical-fg);
}

.warn {
    --box-bg: var(--warn-bg);
    --accent: var(--warn-fg);
    --graphical-fg: var(--warn-graphical-fg);
}

.bad {
    --box-bg: var(--bad-bg);
    --accent: var(--bad-fg);
    --graphical-fg: var(--bad-graphical-fg);
}

.color {
	color: var(--accent);
}

.bg {
	background: var(--box-bg);
}

.border {
    border-style: solid;
	border-color: var(--graphical-fg);
}
