
.plain {
    --accent: var(--base-accent);
}

.info {
    --accent: var(--info-accent);
}

.ok {
    --accent: var(--ok-accent);
}

.warn {
    --accent: var(--warn-accent);
}

.bad {
    --accent: var(--bad-accent);
}

.color {
	color: var(--accent);
}

.bg {
	background: var(--box-bg);
}

.border {
    border-style: solid;
	border-color: var(--graphical-fg);
}
