
.box,
/* defined elsewhere */
[role=menu],
.sidebar-layout > header,
[role=tabpanel],
figure,
details,
dialog {
    margin: var(--gap) 0;
    padding: var(--gap);
    overflow: clip;
    
    border-radius: var(--border-radius);
    background: var(--box-bg);
    border: 1px solid var(--graphical-fg);
}

.titlebar {
    margin-inline: calc(0px - var(--gap));
    margin-block-end: calc(0px - var(--gap));
    padding-inline: var(--gap);

    font: inherit;
	font-family: var(--secondary-font);
    font-weight: bold;

    translate: 0 calc(-1px - var(--gap));

    background: var(--graphical-fg);
    color: var(--bg);
}

.sub-title, sub-title {
	/***
	 Meant for use in headings. Make sure to also use visually-hidden punctuation
	 to mark the subtitle as shown below:

	1 | <h1>
	2 | 	Foo Bar<v-h>:</v-h>
	3 | 	<sub-title>How I Learned To Stop Worrying and Love Baz</sub-title>
	4 | </h1>

	1 | <h1>
	2 | 	<sub-title class="-allcaps">Breaking News</sub-title><v-h>:</v-h>
	3 | 	Bad Thing Happens
	4 | <h1>
	 ***/

	display: block;

	font-weight: normal;

	color: var(--muted-fg);
}


.tool-bar, [role=toolbar] {
	display: flex;
	flex-flow: row wrap;
	gap: calc(var(--gap) / 2);

	& > * { margin: 0; }
}

.sidebar-layout {
	& header {
		& li {
			margin-block: calc(.5 * var(--gap));
		}

		& a {
			font-weight: bold;
		}
	}

	@media (min-width: 75ch) {
		display: grid;
		grid-template-columns: 25ch auto;
		inset: 0;
		
		& > header {
			border-block: none;
			border-inline-start: none;
			margin: 0;
		}

		& > :nth-child(2) {
			overflow: auto;
			--full-width: calc(100vw - 25ch);
			margin-top: var(--gap);
		}
	}
}

.breadcrumbs[aria-label] {
	font-family: var(--secondary-font);

    & ul, & ol {
        list-style: none;
        padding-inline-start: 0;
    }

    & li {
        display: inline;
        &+li::before {
            content: ' / ' / '';
            content: ' / ';
            display: inline;
        }
    }

    & [aria-current="page"] {
        font-weight: bold;
    }
}

.chip, chip {
	font-family: var(--secondary-font);
    border: 1px solid var(--accent);
    background: var(--box-bg);
    border-radius: calc(var(--rhythm) / 2);
    padding-inline: calc(var(--rhythm) / 2);
}

.navbar {
	padding: var(--rhythm);

	font-family: var(--secondary-font);

	background: var(--box-bg);
	border-block-end: 1px solid var(--accent);

	overflow-x: auto;
	scrollbar-width: thin;

	position: sticky;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;

	/* Inner layout */
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: var(--gap);

	&.expanded {
		flex-flow: column;
		align-items: start;

		max-height: 90vh;
		overflow-y: auto;

		& ul[role="list"] { flex-flow: column; }
	}

	& * {
		flex-shrink: 0;
		margin-block: 0;
	}
	
	&:not(.expanded) {
		& > :first-child, & nav > :first-child { margin-inline-start: auto; }
		& >  :last-child, & nav >  :last-child { margin-inline-end:   auto; }
	}

	& hr { align-self: stretch; }

	& nav ul[role="list"] {
		display: flex;
		flex-flow: row;
		gap: var(--rhythm);
		
		& * { flex-shrink: 0 }
	}
	
	& nav ul[role="list"] {
		padding-inline-start: 0;
	}

	& a {
		font-weight: bold;
		text-decoration: none;
		padding-inline: .2em;
	}

	& a:hover, & a:focus {
		text-decoration: underline;
	}

	& [aria-current=page] {
		position: relative;
	}
	
	& [aria-current=page]::after {
		width: 100%;
		height: 6px;
		content: "";
		display: block;
		position: absolute;
		bottom: calc(-1 * var(--gap));
		background: currentcolor;
	}

	&.expanded [aria-current=page]::after {
		width: 6px;
		height: 100%;
		position: absolute;
		left: calc(-1 * var(--gap));
		top: 0;
	}
}

.permalink-anchor {
    display: none;
    
    @nest *:hover > & {
        display: initial;
    }
}

button.iconbutton {
	border: none;
	background: none;
	color: currentcolor;
	padding: 0;
	box-shadow: none;
	line-height: var(--rhythm);
	font-size: 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	transition: font-weight .2s ease-in-out;

	&:hover, &:focus-visible {
		box-shadow: none;
		outline: 1px solid var(--accent);
		outline-offset: 6px;
	}

	&:active {
		box-shadow: none;
		outline-offset: 3px;
		background: none;
	}

	&[aria-pressed=true] {
		box-shadow: none;
		transform: none;
	}
}
