.textcolumns {
    --col-width: 30ch;
    column-width: var(--col-width);
    column-gap: var(--gap);
    margin-block: var(--gap);

    & :first-child { margin-block-start: 0 !important }
}

.text-align\:center {
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

/**/

.container {
	max-inline-size: var(--eff-line-length);
	margin-inline: auto;
}

.fullbleed {
    position: relative;
    width: var(--full-width);
    left: 50%;
    transform: translateX(calc(-.5 * var(--full-width)));

    border-radius: 0;
    border-inline: none;
}

.fullscreen {
    height: 100vh;

    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);

    border-radius: 0;
    border-inline: none;
}

.width\:100\%  { width:100%;  max-width: 100%  }
.height\:100\% { height:100%; max-height: 100% }

/**/

/* margin-trim had better be implemented soon */
:is(
    body,
    .box, 
    [role=menu],
    .sidebar-layout > header,
    [role=tabpanel],
    figure,
    details,
    dialog,
    aside,
    fieldset,
    dd,
    td,
    th
) {
    &>:first-child:first-child:first-child:first-child,
    &>:first-child>:first-child:first-child:first-child,
    &>:first-child>:first-child>:first-child:first-child,
    &>:first-child>:first-child>:first-child>:first-child { margin-block-start: 0; }


    &>:last-child:last-child:last-child:last-child,
    &>:last-child>:last-child:last-child:last-child,
    &>:last-child>:last-child>:last-child:last-child,
    &>:last-child>:last-child>:last-child>:last-child { margin-block-end: 0; }
}

/**/

.padding { padding-inline: var(--gap) }
.padding-block { padding-block: var(--gap) }
.padding-block-start { padding-block-start: var(--gap) }
.padding-block-end { padding-block-end: var(--gap) }
.padding-inline { padding-inline: var(--gap) }
.padding-inline-start { padding-inline-start: var(--gap) }
.padding-inline-end { padding-inline-start: var(--gap) }

.margin { margin: var(--gap) }
.margin-block  { margin-block:  var(--gap) }
.margin-block-start { margin-block-start: var(--gap) }
.margin-block-end { margin-block-end: var(--gap) }
.margin-inline { margin-inline: var(--gap) }
.margin-inline-start { margin-inline-start: var(--gap) }
.margin-inline-end { margin-inline-end: var(--gap) }

.flow-gap {
    & > :not(:last-child) {
        margin-bottom: var(--gap);
    }
}

/**/

.inline { display: inline }
.block { display: block }
.contents { display: contents }

.table {
    display: table;
    width: 100%;
    margin: 0;
}

.row, .rows > * {
    display: table-row;
    
    &:not(:last-child):not([specificity-hack]) > * {
        margin-bottom: var(--gap);
    }

    & > *:not([specificity-hack]) {
        display: table-cell;
        vertical-align: top;
    }

    & > * + *:not([specificity-hack]) {
        margin-inline-start: var(--gap);
        display: inline-block;
    }
}

/**/

.big {
    font-size: 1.4em;
    line-height: calc(1.5 * var(--rhythm));
}

/**/

.nested-list ul, .nested-list ol {
    margin-block: 0;
}

/**/

.fixed  { position: fixed  }
.sticky { position: sticky }

.top    { top:    0 }
.right  { right:  0 }
.bottom { bottom: 0 }
.left   { left:   0 }

.float\:left  { float: left  }
.float\:right { float: right }

.overflow\:auto { overflow: auto }
.overflow\:scroll { overflow: scroll }
