/* TODO - do ;) */

@import "./core/sanitize.css";

@import-glob "./components/*.css";
@import "./elements/block.css";
@import "./elements/inline.css";
@import "./elements/links.css";
@import "./elements/root.css";

:root {
	/* Colors */
	--c-text: #000;
	--c-text-muted: #555;

	--c-bg: #fff;
	--c-bg-2: #efefff;

	--c-shadow: #777;

	--c-accent: #3465a4;
	--c-accent-muted: #8eb8ee;

	/* Lengths */
	--l-rhythm: 1.4rem;
}

