
@import "./core/sanitize.css";

@import "./shared/*.css";
@import "./util/*.css";
@import "./components/*.css";
@import "./elements/*.css";

:root {
	/* Colors */
	--fg: #000; /* Text. */
	--muted-fg: #444; /* De-emphasized or disabled elements' text. Will be
		used with a background of --c-bg and --c-bg-2 -- check contrast! */
	--faded-fg: #777; /* De-emphasized or disabled graphical elements. Will not
		be used as a text color. */
	--info-fg: #01a;
	--ok-fg: #060;
	--bad-fg: #a00;
	--warn-fg: #550;
	
	--bg: #fff; /* Page background. */
	--colorful-bg: #f8f8ff; /* Background for blocks: cards, admonitions etc. */
	--interactive-bg: #dfdfe1; /* Background for interactive elements */
	--pressed-interactive-bg: #c3c3ca; /* Background for pressed interactive elements */
	--info-bg: #f8f8ff;
	--ok-bg: #bfb;
	--bad-bg: #fcc;
	--warn-bg: #ff8;

	--shadow: #777; /* Box shadows. */

	--accent: #3465a4; /* Accent color. Will be used *as a text color* with a
		background of --c-bg and --c-bg-2 -- check contrast! */
	--muted-accent: #8eb8ee; /* Muted accent color. Will not be used for text. */

	/* Lengths */
	--rhythm: 1.4rem; /* Vertical rhythm, line height. */
	--line-length: 45rem; /* Maximum line length for prose. */

	/* Fonts */
	--main-font: -apple-system, system-ui, sans-serif;
	--display-font: var(--main-font); /* Headings etc. */
	--mono-font: monospace, monospace; /* monospace twice stops browsers from
		shrinking this */
	
	/* Density */
	--density: 1;

	/* Do not set these. */
	--eff-line-length: /* Effective line length for prose. */
		min(
			calc( 100vw - (2 * var(--rhythm)) ),
			var(--line-length)
		);

	--gutter-width: /* Width of spaces at each side of page content. */
		calc(
			(
				100vw                      /* Viewport width */
				- var(--eff-line-length) /* minus line width */
			) / 2);                        /* Divide by 2: there are two page margins */
}

* {
	--gap: calc(var(--rhythm) * var(--density));
	accent-color: var(--accent);
}

@custom-selector :--list ul, ol;
@custom-selector :--italic em, cite, dfn, var, i, address;
@custom-selector :--bold strong, b, dt;
@custom-selector :--mono code, samp, kbd, pre;
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--tcell th, td;

