
/***
 4.1 The document element
 https://html.spec.whatwg.org/multipage/semantics.html#the-root-element

 4.3 Sections
 https://html.spec.whatwg.org/multipage/sections.html
 ***/

html {
	font-family: var(--main-font);
	line-height: var(--rhythm);

	background: var(--bg);
	color: var(--fg);
	scroll-padding-block-start: calc(4 * var(--gap));
}

body {
	margin: 0;
}

header, footer, section + section {
	margin-block: calc(2 * var(--gap));
}

nav {
	& :is(a:not(.\<button\>), .\<a\>) {
		text-decoration: none;
		color: var(--accent);
	}
}

aside {
	font-size: .8em;
	line-height: calc(var(--rhythm) * 2 / 3);
	--gap: calc(var(--rhythm) * var(--density) * 2 / 3);

	border-block: 1px solid var(--graphical-fg);
	padding-block: var(--gap);
	margin-block: calc(var(--gap) * 3 / 2);

	&.bg {
		padding-inline: var(--gap);
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		font-size: 1em;
		text-transform: none;
		letter-spacing: none;
	}

	&.big {
		/* Pull quote */
		background: none;
		border: none;
		border-inline-start: 1px solid var(--muted-fg);
		border-radius: 0;
		padding: 0;
		padding-inline-start: var(--rhythm);
		font-style: italic;
		color: var(--accent);
	}
}

h1, h2, h3, h4, h5, h6,
.\<h1\>, .\<h2\>, .\<h3\>, .\<h4\>, .\<h5\>, .\<h6\> {
	margin-block-end: var(--gap);
	font-family: var(--display-font);
	font-size: 1em;
	margin-block-start: calc(2 * var(--gap));
	position: relative;
}

h1, .\<h1\> {
	font-size: 2em;
	text-transform: none;
	line-height: calc(2 * var(--rhythm));
	letter-spacing: 0;
}

h2, .\<h2\> {
	font-size: 1.6em;
	text-transform: none;
	line-height: calc(1.5 * var(--rhythm));
	letter-spacing: 0;
}

h3, .\<h3\> {
	font-size: 1.17em;
	line-height: calc(1 * var(--rhythm));
}

h4, .\<h4\>, h5, .\<h5\>, h6, .\<h6\> {
	font-size: 1em;
	text-transform: none;
	line-height: calc(1 * var(--rhythm));
	letter-spacing: 0;
	margin-block-start: var(--gap);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-block-start: var(--gap);
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
	outline: none;
	&::before {
		content: "";
		display: block;
		position: absolute;
		left: -.5em;
		width: 4px;
		height: 100%;
		background: var(--accent);
	}
}

header {
	font-family: var(--display-font);
	border-block-end: 1px solid var(--graphical-fg);
}

footer {
	font-family: var(--secondary-font);
	font-size: .8em;
	line-height: calc(var(--rhythm) * 2 / 3);
	border-block-start: 1px solid var(--graphical-fg);
}

body > header,
body > footer,
main + footer {
	padding: var(--rhythm) calc((100% - var(--eff-line-length)) / 2)
}

address {
	--density: 0;
}

/***
 4.4 Grouping content
 https://html.spec.whatwg.org/multipage/grouping-content.html
 ***/

p {
	margin-block: var(--gap);
}

hr {
	color: inherit;
	margin-inline: 0;
	margin-block: var(--gap);
	
	flex: 0 1 0px;
	border-inline-start: 1px solid var(--accent);
	block-size: auto;
	border-block-start: 1px solid var(--accent);
	border-block-end: none;
	border-inline-end: none;
}

pre {
	font-family: var(--mono-font);
	font-size: .9em;
	line-height: var(--rhythm);
	tab-size: 2;

	margin: var(--gap) 0;

	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--accent) transparent;
}

blockquote {
	margin-inline: 0 var(--gap);
	padding-inline: var(--gap) 0;
	margin-block: var(--gap);
	
	font-size: 1.1em;
	line-height: var(--rhythm);
	font-style: italic;

	border-inline-start: 1px solid var(--graphical-fg);
	color: var(--muted-fg);

	& em, & cite, & dfn, & var, & i, & address {
		font-style: normal;
	}

	& footer {
		text-align: right;
		text-align: end;
	}
}

ul, ol {
	padding-inline-start: var(--rhythm);
	margin-block: var(--gap);

	& & {
		padding-inline-start: var(--gap);
	}

	&[role="list"], &[role="listbox"] {
		padding-inline-start: 0;
		list-style: none;
	}
}

ul {
}

ol {
}

dl {
	margin-block: var(--gap);
}
	dt {
		font-weight: bold;
		font-family: var(--secondary-font);
	}

	dd {
		margin-inline-start: var(--rhythm);
	}

li::marker {
	font-family: var(--secondary-font);
}

figure {
	max-width: 100%;
	margin-inline: 0;

    /* SEE components/box.css */
}
figcaption {
	margin-block: var(--gap);

	font-family: var(--secondary-font);

	color: var(--muted-fg);
}

main {
	max-inline-size: var(--eff-line-length);
	inline-size: 100%;
	margin-inline: auto;

	&:first-child { padding-top: var(--gap); }
}

/***
 4.5 Text-level semantics
 https://html.spec.whatwg.org/multipage/text-level-semantics.html

 4.7 Edits
 https://html.spec.whatwg.org/multipage/edits.html
 ***/

/* Text-level semantics */

a, .\<a\> {
	color: var(--link-fg, var(--accent));
	border-radius: var(--border-radius);
	outline-offset: 1px;
	background: none;
	border: none;
	font-size: 1em;
  font-family: inherit;
	text-decoration: 1px dotted underline;
	
	.list-of-links & {
		text-decoration: none;
	}
	
	&:hover, &:focus {
		text-decoration: 2px solid underline;
		cursor: pointer;
		outline: none;
	}
}

small[role="note"] {
	/***
	 Sidenote
	 ***/
	display: block;
	float: inline-end;
	clear: inline-end;

	--sidenote-width: 20ch;

	max-inline-size: var(--sidenote-width);
	padding-inline: 1.5ch 1ch;

	margin-inline-end: calc(1em - var(--sidenote-width));
	margin-block-end: var(--rhythm);

	font-family: var(--secondary-font);

	background: var(--bg);
	border: 1px solid transparent;

	transition: transform .1s ease-in-out;

	&:hover, &:focus-within {
		border: 1px solid var(--graphical-fg);
		border-radius: var(--border-radius);
		transform: translateX(calc(
			0px - var(--sidenote-width)
			+ min(var(--gutter-width), var(--sidenote-width))
		))
	}
}

small, .\<small\> {
	font-size: .8em;
	line-height: calc(var(--rhythm) * 2 / 3);
}

s {
	color: var(--bad-fg);
}

q {
	font-style: italic;

	& em, & cite, & dfn, & var, & i, & address {
		font-style: normal;
	}
}

time {
	font-variant-numeric: tabular-nums;
}

code, samp, kbd {
	font-family: var(--mono-font);
	font-style: normal;
}

samp {
	color: var(--ok-fg);
}

kbd kbd /*
	We apply the key-like styling to a nested kbd element, a pattern shown in
	WHATWG HTML for marking up keyboard input:

	> Here the kbd element is used to indicate keys to press:
	>   ~~~ html
	>   <p>To make George eat an apple, press <kbd><kbd>Shift</kbd> + <kbd>F3</kbd></kbd></p>
	>   ~~~

	The plain kbd element can also be used for clicking menus (<kbd>File |
	New...</kbd>) or voice input (<kbd>Hey Siri, </kbd>)
*/ {
	display: inline-block;

	padding: 0 .3em;
	font-size: .8em;
	line-height: 1.1em;

	background: var(--interactive-bg);
	border: 1px outset var(--graphical-fg);
	border-block-end-width: 3px;
	border-radius: var(--border-radius);
}

sub {
	vertical-align: bottom;
	line-height: 1;
}

sup {
	vertical-align: top;
	line-height: 1;
}

mark {
	background: var(--warn-bg);
	color: var(--warn-fg);
}

/* Edits */

ins {
	background: var(--ok-bg);
	color: var(--ok-fg);
}

del {
	background: var(--bad-bg);
	color: var(--bad-fg);
}

/***
 4.8 Embedded content
 https://html.spec.whatwg.org/multipage/embedded-content.html
 ***/

img, video, audio, iframe, object, embed {
	max-inline-size: 100%;
	inline-size: max-content;
	block-size: auto;
}
/***
 4.9 Tabular data
 https://html.spec.whatwg.org/multipage/tables.html
 ***/

table {
	font-variant-numeric: tabular-nums;
	font: inherit;
}

caption {
	text-align: start;
	font-family: var(--secondary-font);
	font-style: italic;
}

tbody {
	border-block: 1px solid var(--faded-fg);
}

thead {
}

tfoot {
}

tr {

}

td, th {
	vertical-align: top;
	
	&:not(:last-child) {
		padding-inline-end: var(--rhythm);
	}
}

	td {
	}

	th {
		font-family: var(--secondary-font);
		text-align: start;
	}

/***
 4.10 Forms
 https://html.spec.whatwg.org/multipage/forms.html
 ***/

input { display: block; }
label :is(input, select):not([specificity-hack]) {
	display: inline; padding-block: 0;
}

:where(
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .\<button\>
):not(.\<a\>),
input::file-selector-button {
	display: inline-block;
	padding: 0 calc(var(--rhythm) / 4);
	vertical-align: middle;
	box-sizing: border-box;
	
	font-size: .8rem;
	line-height: 1.125em;
	font-family: var(--secondary-font);
	min-height: var(--rhythm);

	background: var(--interactive-bg);
	color: var(--fg);
	border: 1px solid var(--muted-fg);
	box-shadow: 0 2px 4px -2px var(--fg);
	border-radius: var(--border-radius);

	/* a-specific resets */
	color: var(--fg);
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
  cursor: default;

	&:hover, &:focus-visible {
		filter: brightness(1.1);
		box-shadow: 0 3px 6px -2px var(--fg);

		/* a-specific resets */
		text-decoration: none;
	}

	&:active {
		box-shadow: none;
	}
}

strong > :where(
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .\<button\>
):not(.\<a\>),
strong > input::file-selector-button {
  /* Can't use nested css with ::file-selector-button pseudo-element */
	background: var(--accent);
	color: var(--bg);
	border: none;
	font-weight: bold;
}
strong > :is(
  button:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled,
  input[type="button"]:disabled,
),
strong > input:disabled::file-selector-button {
  color: var(--muted-accent);
}


:where(
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .\<button\>
):not(.\<a\>) {
	&:active:is([aria-pressed], [aria-expanded]) {
		color: var(--accent);
		box-shadow: 0 1px 5px -1px var(--fg) inset;
	}

	&:where([aria-pressed="true"], [aria-expanded="true"]) {
		box-shadow: 0 2px 4px -1px var(--fg) inset;
		background: var(--pressed-interactive-bg);
		color: var(--accent);
		&:hover, &:focus-visible {
			box-shadow: 0 1px 3px -1px var(--fg) inset;
		}
	}

	&.big {
		min-block-size: calc(1.5 * var(--rhythm));
		font-size: 1rem;
		padding-inline: calc(.5 * var(--rhythm));
		line-height: var(--rhythm);
	}

	&:disabled {
		color: var(--muted-fg);
		box-shadow: none;
	}
}

input:not([type]),
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
select,
textarea {
	padding: calc(var(--rhythm) / 4);
	vertical-align: top;
	
	font-size: 1rem;
	line-height: inherit;
	font-family: var(--main-font);

	background: var(--bg);
	color: var(--fg);
	border: 1px solid var(--graphical-fg);
	border-radius: var(--border-radius);

	vertical-align: top;

	&:focus-visible {
		border: 1px solid var(--accent);
	}

	&::placeholder {
		color: var(--muted-fg);
		opacity: 1;
		text-align: end;
	}
}

input[type="range"] {
	width: 100%;
	padding: calc(var(--gap) / 4);
}

input[type="color"] {
	padding: 0;
	margin: 0;
	height: calc(1.5 * var(--rhythm));

	border: none;
	background: none;
}

input[type="file"] {
	padding: calc(var(--gap) / 4) 0;
	font: inherit;
	line-height: calc(var(--rhythm) / 2);
	&::file-selector-button {
		margin-block: .1em 0;
		margin-inline-end: 1ch;
	}
}

select[multiple] {
	vertical-align: top;
}

optgroup::before {
	color: var(--muted-fg);
	font-style: normal;
}

progress {
	/* TODO */
}

meter {
	/* TODO */
}

label[for] {
	display: block;
	padding-block: calc(var(--gap) / 4);
}

fieldset {
	position: relative;

    padding: var(--gap);
	margin: var(--gap) 0;
	width: 100%;
	border-radius: var(--border-radius);

	& > legend + * { margin-block-start: 0 }

	border: 1px solid var(--graphical-fg);
}
/***
 4.11 Interactive elements
 https://html.spec.whatwg.org/multipage/interactive-elements.html#interactive-elements
 ***/

details:not(specificity-hack) {
    /* SEE components/box.css */

	padding-block-start: 0;
	&:not([open]) { padding-block-end: 0; }
}

summary {
	margin: calc(0px - var(--gap));
	margin-top: calc(0px - var(--gap));
	margin-bottom: 0;
	padding-inline: var(--gap);

	font-family: var(--secondary-font);
	font-weight: bold;

	cursor: pointer;

	&:focus-visible, &:active {
		filter: brightness(.8);
		outline: none;
	}
}


dialog {
    /* SEE components/box.css */
	
    inline-inset: 0;
    
	block-size: fit-content;
    inline-size: fit-content;
    
	margin: auto !important;

    background-color: var(--bg);
    color: var(--fg);
	border-color: var(--fg);
}

dialog[open]::backdrop {
	display: block;
	background: black;
	opacity: .4;
	animation: bg 2s;
}

@keyframes bg {
	from { background: transparent; }
}

dialog:not([open]) {
    display: none;
}
