
.airy     { --density: 3;  }
.spacious { --density: 2;  }
.dense    { --density: 1;  }
.crowded  { --density: .5; }
.packed   { --density: 0;  }

.autodensity {
    --density: 1;
    @media (min-width: 768px)  { --density: 2 }
    @media (min-width: 1024px) { --density: 3 }
}
.vh, v-h {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.all\:initial {
	all: initial;
}

.bold { font-weight: bold }
.italic {
	font-style: italic;
	& em, & cite, & dfn, & var, & i, & address {
		font-style: normal;
	}
}

.allcaps {
	text-transform: uppercase;
	letter-spacing: .1rem;
}


.primary-font { font-family: var(--primary-font) }
.secondary-font { font-family: var(--secondary-font) }
.display-font { font-family: var(--display-font) }
.mono-font, .monospace { font-family: var(--mono-font) }

.massivetext {
    font-size: calc(.13 * var(--eff-line-length));
}

.aestheticbreak {
    display: block;
    margin: 0;
    padding: 0;
    height: calc(.5 * var(--gap));
}
