
:root {
	/* Colors */
	--fg: var(--gray-12); /* Text. */
	--muted-fg: var(--gray-10); /* Secondary text color. Will be
		used with a background of --c-bg and --c-bg-2 -- check contrast! */
	--faded-fg: var(--gray-6); /* Disabled text color. */
	--graphical-fg: var(--plain-graphical-fg); /* Graphical elements. Will not
		be used as a text color. */
	
	--plain-fg: var(--blue-10);
	--info-fg: var(--blue-11);
	--ok-fg: var(--green-11);
	--bad-fg: var(--red-11);
	--warn-fg: var(--yellow-11);

	--plain-graphical-fg: var(--gray-6);
	--info-graphical-fg: var(--blue-6);
	--ok-graphical-fg: var(--green-6);
	--bad-graphical-fg: var(--red-6);
	--warn-graphical-fg: var(--yellow-6);
	
	--bg: var(--gray-0); /* Page background. */
	--box-bg: var(--plain-bg); /* Background for blocks: cards, admonitions etc. */
	--interactive-bg: var(--gray-4); /* Background for interactive elements */

	--plain-bg: var(--gray-1);
	--info-bg: var(--blue-1);
	--ok-bg: var(--green-1);
	--bad-bg: var(--red-1);
	--warn-bg: var(--yellow-1);

	--accent: var(--blue-10); /* Accent color. Will be used *as a text color* with a
		background of --c-bg and --c-bg-2 -- check contrast! */
	--muted-accent: var(--blue-7); /* Muted accent color. Will not be used for text. */

	/* Lengths */
	--rhythm: 1.4rem; /* Vertical rhythm, line height. */
	--line-length: 40rem; /* Maximum line length for prose. */

  /* Borders */
  --border-width: unset; /* Single value; set for uniform border widths */
  --border-block-start-width: var(--border-width, 1px);
  --border-block-end-width: var(--border-width, 1px);
  --border-inline-start-width: var(--border-width, 1px);
  --border-inline-end-width: var(--border-width, 1px);
  --border-style: unset; /* Single value; set for uniform border styles */
  --border-block-start-style: var(--border-style, solid);
  --border-block-end-style: var(--border-style, solid);
  --border-inline-start-style: var(--border-style, solid);
  --border-inline-end-style: var(--border-style, solid);
	--border-radius: .2rem; /* Accepts multiple values, e.g. 1em 0 */

  --interactive-border-width: var(--border-width, 1px); /* Single value */
  --interactive-border-style: var(--border-style, solid); /* Single value */
  --interactive-border-radius: .2rem; /* Single value */

  --tab-border-radius: .4em; /* Single value */

  /* Interactive shadows */
  --shadow: 0 2px 4px -2px var(--fg);
  --shadow-focus: 0 3px 6px -2px var(--fg);
  --shadow-active: none;
  --shadow-disabled: none;
  --pressed-shadow: 0 2px 4px -1px var(--fg) inset;
  --pressed-shadow-focus:  1 1px 3px -1px var(--fg) inset;
  --pressed-shadow-active: 0 1px 5px -1px var(--fg) inset;

	/* Fonts */
	--main-font: 'Source Sans 3', 'Source Sans Pro', -apple-system, system-ui, sans-serif;
	--secondary-font: var(--main-font); /* UI elements and captions */
  --display-font: var(--secondary-font); /* Headings */
	--mono-font: 'M Plus Code Latin', monospace, monospace; /* monospace twice stops browsers from
		shrinking this */

  /* Markers */
  --breadcrumb-page: ' / ';
  --breadcrumb-step: ' › ';

	/* Density */
	--density: 1;

	/* Width */
	--full-width: 100vw;

	/* Do not set these. */
	--eff-line-length: /* Effective line length for prose. */
		min(
			calc( var(--full-width) - (2 * var(--rhythm)) ),
			var(--line-length)
		);

	--gutter-width: /* Width of spaces at each side of page content. */
		calc(
			(
				var(--full-width)        /* Viewport width */
				- var(--eff-line-length) /* minus line width */
			) / 2);                      /* Divide by 2: there are two page margins */
}

/* Enable dark theme independently of os preferences*/
:root.-dark-theme {
	--fg: var(--gray-0);
	--muted-fg: var(--gray-2);
	--faded-fg: var(--gray-7);
	--plain-bg: var(--gray-11);
	--info-bg: var(--blue-12);
	--ok-bg: var(--green-12);
	--bad-bg: var(--red-12);
	--warn-bg: var(--yellow-12);
	--plain-graphical-fg: var(--blue-6);
	--info-graphical-fg: var(--blue-6);
	--ok-graphical-fg: var(--green-6);
	--bad-graphical-fg: var(--red-6);
	--warn-graphical-fg: var(--yellow-6);
	--bg: var(--gray-12);
	--box-bg: var(--gray-10);
	--interactive-bg: var(--gray-8);
	--pressed-interactive-bg: light-dark(var(--bg), var(--bg));
	--plain-fg: var(--blue-2);
	--info-fg: var(--blue-2);
	--ok-fg: var(--green-2);
	--bad-fg: var(--red-2);
	--warn-fg: var(--yellow-2);
	--accent: var(--blue-2);
	--muted-accent: var(--blue-5)
}

@media (prefers-color-scheme: dark) {
    :root:not(.-no-dark-theme) {
    	--fg: var(--gray-0);
    	--muted-fg: var(--gray-2);
    	--faded-fg: var(--gray-7);

		--plain-bg: var(--gray-11);
    	--info-bg: var(--blue-12);
    	--ok-bg: var(--green-12);
    	--bad-bg: var(--red-12);
    	--warn-bg: var(--yellow-12);

		--plain-graphical-fg: var(--blue-6);
		--info-graphical-fg: var(--blue-6);
		--ok-graphical-fg: var(--green-6);
		--bad-graphical-fg: var(--red-6);
		--warn-graphical-fg: var(--yellow-6);

    	--bg: var(--gray-12);
    	--box-bg: var(--gray-10);
    	--interactive-bg: var(--gray-8);

		--plain-fg: var(--blue-2);
    	--info-fg: var(--blue-2);
    	--ok-fg: var(--green-2);
    	--bad-fg: var(--red-2);
    	--warn-fg: var(--yellow-2);

    	--accent: var(--blue-2);
    	--muted-accent: var(--blue-5);
    }
}

* {
	--gap: calc(var(--rhythm) * var(--density));
}

* {
	accent-color: var(--accent);
}
